/* General Styles */
@font-face {
    font-family: 'Open Sans CondBold';
    src: url('../Open Sans/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: 'Open Sans CondLightitalic';
    src: url('../Open Sans/OpenSans-CondLightitalic.ttf');
}

@font-face {
    font-family: 'Open Sans CondLight';
    src: url('../Open Sans/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../Open Sans/OpenSans-Semibold.ttf');
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6) contrast(1.4) hue-rotate(20deg);
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 50%;
}

.logo-animation {
    position: relative;
    transform: translate(33%, -91%) scale(0.2);
}

.partner-cert {
    position: absolute;
    bottom: 138%;
    left: 27vw;
    width: 8vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.provider-features {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.provider-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.provider-logo-select {
    width: auto;
    padding: 5px;
    font-size: 1rem;
}

.provider-logo-preview {
    width: 25vh;
    height: auto;
    border: 1.3vw solid white;
}

.feature-price-big-columns {
    display: flex;
    align-items: center;
}

.feature-price-big-left {
    display: flex;
    position: relative;
    left: 2.1vw;
}

.feature-price-big-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feature-price-small-columns {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.middle-product-image {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-image-preview {
    width: auto;
    max-width: 90%;
    margin-top: 10px;
}

.product-specs {
    width: 25%;
    height: 85%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 2vw;
    position: relative;
    top: 6vh;
}

.product-specs-line {
    height: 72%;
}

.product-specs-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vh;
}

img {
    max-width: 100%;
    height: auto;
}

img , .logo-animation {
    filter: drop-shadow(-0.1vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5))
}

/* Text styles */
h1, h2, h3, h4, h5, p , ul {
    margin: 5px 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: none;
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: white;
    opacity: 0.5;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.download-section input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
}

.download-section button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
